@if (type == 'game') {
    <div class="game">
        <div class="banner">
            <img src="{{ data.banner }}" alt="">
            <div class="banner-content"></div>
        </div>
        <div class="flexbox align-top">
            <div class="thumbnail">
                <img src="{{ data.image }}" alt="">
                <div class="thumbnail-content">
                    <h1>{{ data.name }}</h1>
                    <p>{{ data.company }} • {{ data.category }}</p>
                    <div class="flexbox">
                        <span>{{ data.year }}</span>
                        <span>{{ data.rating }}/10 ⭐</span>
                    </div>
                </div>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>{{ data.long_description }}</p>
                <div class="awards">
                    <h2>Awards</h2>
                    @for (award of awards; track $index) {
                        <p>• {{ award }}</p>
                    }
                </div>
                <div class="rate flexbox">
                    <h2>Your Rate</h2>
                    <div class="rate-stars">
                        @for (i of [1,2,3,4,5,6,7,8,9,10]; track $index)
                        {
                            <i class="fas fa-star" [ngClass]="{'active': rate >= i}" (mouseDown)="fun()" (mouseDown)="rate = i;"></i>        
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="spacing-footer"></div>
